@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #000000;
  --foreground: #ededed;
  --card: #0a0a0a;
  --card-foreground: #ededed;
  --muted: #27272a;
  --muted-foreground: #a1a1aa;
  --border: #27272a;
  --chart-1: hsl(185 100% 50%);
  --chart-2: hsl(200 100% 50%);
  --chart-3: hsl(215 100% 55%);
  --chart-4: hsl(230 90% 60%);
  --chart-5: hsl(245 80% 65%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .font-orbitron {
    font-family: 'Orbitron', sans-serif;
  }

  .pt-sans-regular {
    font-family: var(--font-pt-sans), "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .pt-sans-bold {
    font-family: var(--font-pt-sans), "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .pt-sans-regular-italic {
    font-family: var(--font-pt-sans), "PT Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .pt-sans-bold-italic {
    font-family: var(--font-pt-sans), "PT Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
}